
{% extends 'flatpages/default.html' %}

{% block content %}
    <hr>

<p style="text-align: left;"><strong>e-mail:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>&nbsp;</p>
<p style="text-align: left;"><a href="mailto:info@cheburashka.com">info@cheburashka.com</a></p>
<p style="text-align: left;"><strong>Телефон для связи:</strong>&nbsp; &nbsp;</p>
<p style="text-align: left;">+7 (812) 000-11-22 (Санкт-Петербург)</p>
<p style="text-align: left;">+7 (499) 000-33-44 (Москва)</p>
<p>&nbsp;</p>
{% endblock content %}