
{% extends 'flatpages/default.html' %}

{% block content %}
<h1 style="text-align: center;"><span style="text-align: center; color: #000000; background-color: #ffffff;">Наши контакты</span></h1>
<p>&nbsp;</p>
<hr />
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>e-mail:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>&nbsp;</p>
<p style="text-align: left;"><a href="mailto:info@cheburashka.com">info@cheburashka.com</a></p>
<p style="text-align: left;"><strong>Телефон для связи:</strong>&nbsp; &nbsp;</p>
<p style="text-align: left;">+7 (812) 000-11-22 (Санкт-Петербург)</p>
<p style="text-align: left;">+7 (499) 000-33-44 (Москва)</p>
<p>&nbsp;</p>
{% endblock content %}